:root {
    --color-black: #000;
    --color-lightgray: #dfe2df;
    --color-white: #fff;
    --color-gray: #9c9c9c;

    --font-size-small: 14px;
    --font-family-main: sans-serif;
    --font-bold: 600;

    --transition: .4s;
}

*, *::after, *::before 
{
    box-sizing: border-box;
}

img 
{
    display: block;
}